# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# PyCharm
.idea/

# Virtual environments
venv/
env/
.venv/

# Jupyter
.ipynb_checkpoints/

# Dependency files (если не хочешь публиковать)
requirements.txt
*.iml
out
gen

# System files
.DS_Store
